<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Directive Example</title>
</head>
<body>
    <h1>Custom Directive Example</h1>
    <div myDirective>This is my custom directive!</div>
    <h1 [appMy]="'yellow'">This is a custom directive example</h1>
    <input name="myInput" type="number" formatCurrency>
    <div dragAndDropFile>
        <br>
        <br>
        <br>
        <br>
        Drag and drop files here.
    </div>
      
    
</body>
</html>